<div class="bg-success fixed-bottom text-white p-2">
    Currently
    {{#if slots}}
    Reserving
    {{else}}
    Modifying Reservations
    {{/if}}
    for
    <b>{{fullname}}</b>...
</div>