{{#if isTech}}
{{> navigation-tech}}
{{else}}
{{> navigation}}
{{/if}}
<h1 class="text-center bg-success shadow text-white fw-bold p-2 font-monospace">COMPUTER LABORATORY RESERVATION SYSTEM
</h1>
<div class="d-flex m-5 bg-light border shadow border-success border-5 rounded-4">
    <div class="d-flex flex-column m-5" id="main">
        <div id="carousel" class="carousel slide rounded-4" data-bs-ride="carousel">
            <div class="carousel-inner rounded-4 shadow">
                <div class="carousel-item active">
                    <img src="https://www.dlsu.edu.ph/wp-content/uploads/2018/09/f-7.jpg" class="d-block w-100" />
                </div>
                <div class="carousel-item">
                    <img src="https://www.dlsu.edu.ph/wp-content/uploads/2018/09/f-8.jpg" class="d-block w-100" />
                </div>
                <div class="carousel-item">
                    <img src="https://www.dlsu.edu.ph/wp-content/uploads/2018/09/f-9.jpg" class="d-block w-100" />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div>
            <h1 class="bg-success text-white fw-bold p-3 my-3 rounded-4">Description</h1>
            <div class="p-3">
                <p>De La Salle University (DLSU) offers laboratory rooms that are open
                    for reservations, allowing students to have dedicated spaces for
                    personal study and academic activities. These laboratory rooms are
                    equipped with facilities and resources tailored to support students'
                    learning needs, providing an environment conducive to focused study
                    and research.</p>
                <p>
                    The availability of laboratory rooms for reservations underscores
                    DLSU's commitment to fostering a conducive learning environment and
                    promoting academic excellence among its students. By providing
                    access to these facilities, the university aims to enhance students'
                    academic experience and empower them to achieve their educational
                    goals.
                </p>
                <p>
                    Reserving a laboratory room for personal study allows students to
                    have a dedicated space where they can concentrate on their
                    coursework, conduct experiments, collaborate with peers, and engage
                    in independent research projects. These rooms often come equipped
                    with essential amenities such as desks, chairs, computers, internet
                    access, and laboratory equipment, enabling students to make the most
                    of their study sessions.
                </p>
                <p>
                    Moreover, the open reservation system ensures equitable access to
                    laboratory rooms for all students, allowing them to schedule study
                    sessions at their convenience. This flexibility enables students to
                    manage their time effectively and optimize their academic
                    productivity.
                </p>
                <p>
                    Overall, DLSU's provision of laboratory rooms open for reservations
                    reflects its commitment to supporting student success and providing
                    them with the resources they need to excel academically in a dynamic
                    and innovative learning environment.
                </p>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column p-3 m-2" id="sidebar">
        <h1 class="bg-success text-white fw-bold p-3 mb-3 rounded-4">Laboratories</h1>
        <div class="p-3">
            <table class="table table-striped table-bordered text-center border-dark">
                <thead>
                    <tr>
                        <th>Room Code</th>
                        <th>Time Open</th>
                        <th>Time Close</th>
                        <th>Available Seats</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>G301</td>
                        <td>7:30AM</td>
                        <td>9:00PM</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>G302</td>
                        <td>7:30AM</td>
                        <td>9:00PM</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>G303</td>
                        <td>7:30AM</td>
                        <td>9:00PM</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>G304</td>
                        <td>7:30AM</td>
                        <td>9:00PM</td>
                        <td>45</td>
                    </tr>
                    <tr>
                        <td>G305</td>
                        <td>7:30AM</td>
                        <td>9:00PM</td>
                        <td>45</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1 class="bg-success text-white fw-bold p-3 rounded-4">Additional Information</h1>
        <div class="p-3">
            <p>
                When reserving a laboratory room at De La Salle University (DLSU) or
                any educational institution, there are several additional
                considerations that students should be aware of to ensure a smooth
                and productive experience:
            </p>
            <ol>
                <li class="mb-3">
                    Check the availability of laboratory rooms for the desired
                    date and time. Some laboratories may have high demand, especially
                    during peak study periods, so it's advisable to book well in advance
                    to secure your preferred time slot.
                </li>
                <li class="mb-3">
                    Verify the capacity and equipment available in the
                    laboratory room to ensure it meets your needs. Consider factors such
                    as seating capacity, computer access, laboratory instruments, and
                    other resources required for your study or research.
                </li>
                <li class="mb-3">
                    If you plan to reserve a laboratory room for group study
                    or collaborative projects, coordinate with your peers to determine
                    the optimal time slot and ensure that everyone is aware of the
                    reservation details.
                </li>
            </ol>
        </div>
        <h1 class="bg-success text-white fw-bold p-3 rounded-4">Contact Us</h1>
        <div class="d-flex justify-content-evenly mt-3" id="logos">
            <a href="https://www.facebook.com/DLSU.Manila.100/"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/6/6c/Facebook_Logo_2023.png" /></a>
            <a href="https://www.linkedin.com/school/de-la-salle-university/"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/8/81/LinkedIn_icon.svg" /></a>
            <a href="https://twitter.com/DLSUManila"><img
                    src="https://upload.wikimedia.org/wikipedia/commons/c/ce/X_logo_2023.svg" /></a>
            <a href="https://www.youtube.com/channel/UC7LXC9usdkDC0YEvWxa_kHQ"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ef/Youtube_logo.png" /></a>
            
        </div>
    </div>
</div>
{{> logout}}